        <!-- start blog content section -->
        <section class="wow fadeIn">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 last-paragraph-no-margin xs-text-center">
                        <h5 class="font-weight-600 text-extra-dark-gray alt-font">The best and most beautiful things in the world cannot be seen or even touched - they must be felt with the heart.</h5>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <%= image_tag "pofo/blog-details-img7.jpg", alt: "", class: "width-100 margin-50px-tb" %>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 xs-text-center">
                        <div class="col-md-6 col-sm-12 col-xs-12 no-padding-left last-paragraph-no-margin sm-margin-30px-bottom xs-no-padding-lr">
                            <span class="text-extra-dark-gray font-weight-600 alt-font margin-10px-bottom display-block text-medium">I get way too much happiness from good food</span>
                            <p class="width-90 xs-width-100">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12 no-padding-left last-paragraph-no-margin xs-no-padding-lr">
                            <span class="text-extra-dark-gray font-weight-600 alt-font margin-10px-bottom display-block text-medium">You don't need a silver fork to eat good food</span>
                            <p class="width-90 xs-width-100">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end blog content section -->
