        <!-- start parallax section -->
        <section class="wow fadeIn parallax big-section" data-stellar-background-ratio="0.4" style="background-image: url('<%= image_path('pofo/parallax-bg55.jpg') %>')">
            <div class="opacity-medium bg-extra-dark-gray"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-sm-10 col-xs-12 center-col">
                        <div class="bg-white padding-nine-all text-center">
                            <div class="alt-font text-medium-gray margin-15px-bottom text-uppercase text-small">About restaurants Photography</div>
                            <h5 class="font-weight-600 alt-font text-extra-dark-gray">Taking an image, freezing a moment, reveals how rich reality truly</h5>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                            <a href="portfolio-full-width-image-gallery.html" class="btn btn-small btn-dark-gray margin-10px-top xs-no-margin-top">Explore Photography</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end parallax section -->
