<h1> Pagina A </h1>
<p> Il testo verrà preso dal database ma alcuni messaggi sono passati dall'applicazione ed è quindi bene che vengano tradotti per essere pronti a supportare più lingue. </p>
<br>
<p>  <%= link_to 'andiamo alla pagina B', mockups_page_b_path %> </p>