<header>
  <%= render "layouts/pofo_navigation_menu" %>
</header>




<!-- start video style section -->
<section class="wow fadeIn parallax" data-stellar-background-ratio="0.1" style="background-image:url('<%= image_path('pofo/homepage.jpg') %>');">
  <div class="opacity-extra-medium bg-black"></div>
  <div class="container position-relative">
    <div class="row">
      <div class="col-lg-6 col-md-6 text-center center-col  one-second-screen display-table page-title-large">
        <!--<a href="https://www.youtube.com/watch?v=Ma_i0JvdNN0" class="popup-youtube">-->
        <!--<a href="https://www.youtube-nocookie.com/embed/Ma_i0JvdNN0?rel=0" class="popup-youtube">-->
        <a href="https://www.youtube-nocookie.com/embed/U7q1exHiogY?rel=0" class="popup-youtube">
        <!--<a href="https://player.vimeo.com/video/75976293" class="popup-vimeo">-->
          <%= image_tag("pofo/icon-play.png", class: "width-30", alt: "") %>
        </a>
        <h5 class="alt-font text-white" style="font-family:caligo; letter-spacing: 2px;">Rigeneriamo la tua batteria con componenti di prima scelta e la sostituzione sempre della BMS per avere un pacco batteria nuovo al 100% risparmiando e salvaguardando l'ambiente.</h5>
      </div>
    </div>
  </div>
</section>
<!-- end video style section -->





<!-- start about title_section section -->
<section class="wow fadeIn">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-11 col-xs-12 center-col text-center margin-two-bottom xs-margin-30px-bottom">
        <h6 class="alt-font text-medium-gray margin-5px-bottom text-uppercase text-medium margin-one-bottom" style="line-height: 4;">Rigeneriamo</h6>
        <h6 class="font-weight-300 text-extra-dark-gray no-margin" style="line-height: 1.4;"><strong class="font-weight-400">Rigeneriamo</strong> e potenziamo la tua batteria con un risparmio del 50% rispetto l’originale e con un impatto ambientale inferiore dell’80%.</h6>
        <h6 class="font-weight-300 text-extra-dark-gray no-margin" style="line-height: 1.4;"><strong class="font-weight-400">Garantiamo</strong> il ricellaggio con batterie di prima scelta ( LG, Panasonic Samsung o Sony) e la sostituzione sempre della BMS per avere un pacco batteria nuovo al 100%.</h6>
        <h6 class="font-weight-300 text-extra-dark-gray no-margin" style="line-height: 1.4;">Le batterie che sono sostituite seguono un <strong class="font-weight-400">processo di riqualificazione</strong> ed un utilizzo in sistemi di alimentazione che non richiedono elevate prestazioni e durate, spesso affiancate da pannelli fotovoltaici, questo permette di ridurre dell’80% il rifiuto speciale.</h6>

        <br/>
        <h6 class="alt-font text-medium-gray margin-5px-bottom text-uppercase text-medium margin-one-bottom" style="line-height: 4;">Prodotti</h6>
        <h6 class="font-weight-300 text-extra-dark-gray no-margin" style="line-height: 1.4;">Vogliamo garantire <strong class="font-weight-400">il massimo della durata</strong> per i vostri pacchi batterie e di conseguenza usiamo solo prodotti di elevata qualità che mi permettono di estendere la <strong class="font-weight-400">garanzia fino a 3 anni</strong>, su pacchi correttamente utilizzati.</h6>

        <br/>
        <h6 class="alt-font text-medium-gray margin-5px-bottom text-uppercase text-medium margin-one-bottom" style="line-height: 4;">Trasparenza sul prezzo</h6>
        <h6 class="font-weight-300 text-extra-dark-gray no-margin" style="line-height: 1.4;">I prezzi esposti sono <strong class="font-weight-400">iva inclusa</strong>, tutte le batterie vengono sostituite con celle nuove ed è inserita una nuova BMS per <strong class="font-weight-400">evitare aumenti di prezzo</strong> indesiderati dopo che la batteria e stata spedita. Usiamo celle da almeno 3400 mA (sostituendo normalmente batterie da 2600 mA) di conseguenza l’<strong class="font-weight-400">aumento della durata</strong> del pacco batteria sarà nettamente superiore.</h6>

        <!--<h6>-->
        <!--  <br/>-->
        <!--  <a href="#modal-popup" class="popup-with-form btn btn-dark-gray btn-small text-extra-small btn-rounded margin-5px-top">Entra nella community &nbsp;<i class="fas fa-play-circle icon-very-small margin-5px-right no-margin-left" aria-hidden="true"></i></a>-->
          <!-- start modal pop-up -->
        <!--  <div id="modal-popup" class="white-popup-block mfp-hide col-lg-4 col-md-7 col-sm-8 col-xs-11 center-col bg-dark text-center modal-popup-main padding-50px-all border-radius-6">-->
            <!--<p class="margin-four">Lorem freg Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>-->
        <!--    <div class="ml-form-embed"-->
        <!--      data-account="1395738:c7p4b5r4a6"-->
        <!--      data-form="1224232:z3e3m8">-->
        <!--    </div>-->
        <!--  </div>-->
          <!-- end modal pop-up -->
        <!--</h6>-->

      </div>
    </div>
    <%#= render "feature_boxes" %>
  </div>            
</section>
<!-- end about title_section section -->




<!-- start pricing table style 01 section -->
<section class="wow fadeIn">
  <div class="container">
    <div class="row pricing-box-style1">
      <div class="col-md-8 col-sm-11 col-xs-12 center-col text-center margin-two-bottom xs-margin-30px-bottom">

            <h6 class="alt-font text-medium-gray margin-5px-bottom text-uppercase text-medium margin-one-bottom" style="line-height: 4;">Tipi di batterie</h6>
            <!-- start pricing item -->
            <div class="col-12 col-md-4 text-center wow fadeInUp">
                <div class="pricing-box border border-color-extra-light-gray">
                    <div class="padding-55px-all bg-very-light-gray md-padding-30px-all sm-pading-40px-all">
                        <!-- start pricing title -->
                        <div class="pricing-title text-center">
                            <i class="icon-bike icon-large text-deep-pink d-inline-block"></i>
                        </div>
                        <!-- end pricing title -->
                        <!-- start pricing price -->
                        <div class="pricing-price">
                            <span class="alt-font text-extra-dark-gray font-weight-600 text-uppercase">Batterie da</span>
                            <h4 class="text-extra-dark-gray alt-font font-weight-600 mb-0">24V</h4>
                            <ul class="list-style-11">
                                <li>5p 17,5Ah 420W</li>
                                <li>4p 14Ah 330W</li>
                                <li>3p 10,5Ah 252W</li>
                            </ul>
                        </div>
                        <!-- end pricing price -->
                    </div>
                </div>
            </div>
            <!-- end pricing item -->
            <!-- start pricing item -->
            <div class="col-12 col-md-4 text-center md-margin-30px-bottom wow fadeInUp" data-wow-delay="0.2s">
                <div class="pricing-box border border-color-extra-light-gray">
                    <div class="padding-55px-all bg-very-light-gray md-padding-30px-all sm-pading-40px-all">
                        <!-- start pricing title -->
                        <div class="pricing-title text-center">
                            <i class="icon-bike icon-large text-deep-pink d-inline-block"></i>
                        </div>
                        <!-- end pricing title -->
                        <!-- start pricing price -->
                        <div class="pricing-price">
                            <span class="alt-font text-extra-dark-gray font-weight-600 text-uppercase">Batterie da</span>
                            <h4 class="text-extra-dark-gray alt-font font-weight-600 mb-0">36V</h4>
                            <ul class="list-style-11">
                                <li>5p 17,5Ah 630W</li>
                                <li>4p 14Ah 504W</li>
                                <li>3p 10,5Ah 378W</li>
                            </ul>
                        </div>
                        <!-- end pricing price -->
                    </div>
                </div>
            </div>
            <!-- end pricing item -->
            <!-- start pricing item -->
            <div class="col-12 col-md-4 text-center wow fadeInUp" data-wow-delay="0.4s">
                <div class="pricing-box border border-color-extra-light-gray">
                    <div class="padding-55px-all bg-very-light-gray md-padding-30px-all sm-pading-40px-all">
                        <!-- start pricing title -->
                        <div class="pricing-title text-center">
                            <i class="icon-bike icon-large text-deep-pink d-inline-block"></i>
                        </div>
                        <!-- end pricing title -->
                        <!-- start pricing price -->
                        <div class="pricing-price">
                            <span class="alt-font text-extra-dark-gray font-weight-600 text-uppercase">Batterie da</span>
                            <h4 class="text-extra-dark-gray alt-font font-weight-600 mb-0">48V</h4>
                            <ul class="list-style-11">
                              <li>5p 17,5Ah 840W</li>
                              <li>4p 14Ah 672W</li>
                              <li>3p 10,5Ah 504W</li>
                            </ul>
                        </div>
                        <!-- end pricing price -->
                    </div>
                </div>
            </div>
            <!-- end pricing item -->

      </div>
    </div>
  </div>
</section>
<!-- end pricing table style 01 section -->





<!-- start about title_section section -->
<section class="wow fadeIn">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-11 col-xs-12 center-col text-center margin-two-bottom xs-margin-30px-bottom">
        <h6 class="alt-font text-medium-gray margin-5px-bottom text-uppercase text-medium margin-one-bottom" style="line-height: 4;">Ritiro e consegna</h6>
        <h6 class="font-weight-300 text-extra-dark-gray no-margin" style="line-height: 1.4;">Ritiro e consegna <strong class="font-weight-400">gratuito</strong> su Roma con l’utilizzo di mezzi pubblici ed e- bike, un passo importante per il rispetto della natura.</h6>

        <h6>
          <br/>
          <a href="#modal-popup" class="popup-with-form btn btn-dark-gray btn-small text-extra-small btn-rounded margin-5px-top">Entra nella community &nbsp;<i class="fas fa-play-circle icon-very-small margin-5px-right no-margin-left" aria-hidden="true"></i></a>
          <!--start modal pop-up -->
          <div id="modal-popup" class="white-popup-block mfp-hide col-lg-4 col-md-7 col-sm-8 col-xs-11 center-col bg-dark text-center modal-popup-main padding-50px-all border-radius-6">
            <!--<p class="margin-four">Lorem freg Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>-->
            <div class="ml-form-embed"
              data-account="1395738:c7p4b5r4a6"
              data-form="1224232:z3e3m8">
            </div>
          </div>
          <!--end modal pop-up -->
        </h6>

      </div>
    </div>
    <%#= render "feature_boxes" %>
  </div>            
</section>
<!-- end about title_section section -->




<%= render "layouts/pofo_footer" %>
