@font-face {
	font-family: 'rebis';
	src:font-url('../fonts/rebis.eot'),
		font-url('../fonts/rebis.woff') format('woff'),
		font-url('../fonts/rebis.ttf') format('truetype'),
		font-url('../fonts/rebis.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
