<%# == Meta_data ============================================================ %>

<% provide(:html_head_title, "Nuovo utente") %>
<% provide(:page_title, "Nuovo Utente") %>
<% provide(:menu_nav_link_users, "active") %>

<%# == Meta_data - end ====================================================== %>

<h1>New User</h1>

<%= render 'form', user: @user %>

<%= link_to 'Back', users_path %>
