<!-- start comment form section -->
<section class="wow fadeIn bg-light-gray" id="comments">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-sm-12 col-xs-12 center-col text-center margin-80px-bottom xs-margin-40px-bottom">
                <div class="position-relative overflow-hidden width-100">
                    <span class="text-small text-outside-line-full alt-font font-weight-600 text-uppercase text-extra-dark-gray">Write A Comments</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-sm-12 col-xs-12 no-padding center-col text-center">
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <input type="text" placeholder="Name *" class="medium-input">
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <input type="text" placeholder="E-mail *" class="medium-input">
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <input type="url" placeholder="Website" class="medium-input">
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <textarea placeholder="Enter your comment here.." rows="8" class="medium-textarea"></textarea>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                    <button class="btn btn-dark-gray btn-small margin-15px-top" type="submit">Send message</button>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end comment form section -->