<%#= "CENTRAL: #{paragraph.title} - #{paragraph.content}" %>

<span class="text-medium alt-font font-weight-600 margin-20px-bottom display-block text-extra-dark-gray"><%= paragraph.title %></span>
<p><%= sanitize paragraph.content %></p>

<% if paragraph.image.attached? %>
  <%= image_tag paragraph.image, class: "width-100" %>
<% else %>
  <%#= image_tag "pofo/blog-details-img7.jpg", alt: "", class: "width-100 margin-50px-tb" %>
  <%#= image_tag "pofo/blog-details-img7.jpg", alt: "", class: "width-100" %>
  <!--<figure class="wp-caption aligncenter"><%#= image_tag "pofo/blog-details-img7.jpg", alt: "", class: "width-100" %></figure>-->
<% end %>

<br/>
<br/>
