<!-- start comments section -->
<section class="wow fadeIn">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-sm-12 col-xs-12 center-col text-center margin-80px-bottom sm-margin-50px-bottom xs-margin-15px-bottom">
                <div class="position-relative overflow-hidden width-100">
                    <span class="text-small text-outside-line-full alt-font font-weight-600 text-uppercase text-extra-dark-gray">10 Comments</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-sm-12 col-xs-12 center-col">
                <ul class="blog-comment">
                    <li>
                        <div class="display-table width-100">
                            <div class="display-table-cell width-100px xs-width-50px text-center vertical-align-top xs-display-block xs-margin-10px-bottom">
                                <%= image_tag "pofo/avtar-02.jpg", class: "img-circle width-85 xs-width-100", alt: "" %>
                            </div>
                            <div class="padding-40px-left display-table-cell vertical-align-top last-paragraph-no-margin xs-no-padding-left xs-display-block">
                                <a href="blog-post-layout-05.html#" class="text-extra-dark-gray text-uppercase alt-font font-weight-600 text-small">Herman Miller</a>
                                <a href="blog-post-layout-05.html#comments" class="inner-link btn-reply text-uppercase alt-font text-extra-dark-gray">Reply</a>
                                <div class="text-small text-medium-gray text-uppercase margin-10px-bottom">17 july 2017, 6:05 pm</div>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
                            </div>
                        </div>
                        <ul class="child-comment">
                            <li>
                                <div class="display-table width-100">
                                    <div class="display-table-cell width-100px xs-width-50px text-center vertical-align-top xs-display-block xs-margin-10px-bottom">
                                        <%= image_tag "pofo/avtar-01.jpg", class: "img-circle width-85 xs-width-100", alt: "" %>
                                    </div>
                                    <div class="padding-40px-left display-table-cell vertical-align-top last-paragraph-no-margin xs-no-padding-left xs-display-block">
                                        <a href="blog-post-layout-05.html#" class="text-extra-dark-gray text-uppercase alt-font font-weight-600 text-small">Alexander Harvard</a>
                                        <a href="blog-post-layout-05.html#comments" class="inner-link btn-reply text-uppercase alt-font text-extra-dark-gray">Reply</a>
                                        <div class="text-small text-medium-gray text-uppercase margin-10px-bottom">17 july 2017, 6:05 pm</div>
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <div class="display-table width-100">
                            <div class="display-table-cell width-100px xs-width-50px text-center vertical-align-top xs-display-block xs-margin-10px-bottom">
                                <%= image_tag "pofo/avtar-04.jpg", class: "img-circle width-85 xs-width-100", alt: "" %>
                            </div>
                            <div class="padding-40px-left display-table-cell vertical-align-top last-paragraph-no-margin xs-no-padding-left xs-display-block">
                                <a href="blog-post-layout-05.html#" class="text-extra-dark-gray text-uppercase alt-font font-weight-600 text-small">Jennifer Freeman</a>
                                <a href="blog-post-layout-05.html#comments" class="inner-link btn-reply text-uppercase alt-font text-extra-dark-gray">Reply</a>
                                <div class="text-small text-medium-gray text-uppercase margin-10px-bottom">17 july 2017, 6:05 pm</div>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
                            </div>
                        </div>
                    </li>
                </ul> 
            </div>
        </div>
    </div>
</section>
<!-- end comments section -->