      <li>
        <%= "CENTRAL: #{paragraph.title} - #{paragraph.content}" %>
      </li>


<!--<h5 class="font-weight-600 text-extra-dark-gray alt-font">The best and most beautiful things in the world cannot be seen or even touched - they must be felt with the heart.</h5>-->
<span class="text-medium alt-font font-weight-600 margin-20px-bottom display-block text-extra-dark-gray">The best and most beautiful things in the world cannot be seen or even touched - they must be felt with the heart.</span>
<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
<%#= image_tag "pofo/blog-details-img7.jpg", alt: "", class: "width-100 margin-50px-tb" %>
<%= image_tag "pofo/blog-details-img7.jpg", alt: "", class: "width-100" %>
<!--<figure class="wp-caption aligncenter"><%#= image_tag "pofo/blog-details-img7.jpg", alt: "", class: "width-100" %></figure>-->
<br/>
<br/>
