<%#= "LEFT: #{paragraph.title} - #{paragraph.content}" %>

<% if paragraph.image.attached? %>
  <figure class="wp-caption alignleft"><%= image_tag paragraph.image, alt: "" %><figcaption class="wp-caption-text"><%= paragraph.imagecaption %></figcaption></figure>
<% else %>
  <!--<figure class="wp-caption alignright"><%#= image_tag "pofo/blog-details-img7.jpg", alt: "", class: "width-100" %></figure>-->
<% end %>
<span class="text-medium alt-font font-weight-600 margin-20px-bottom display-block text-extra-dark-gray"><%= paragraph.title %></span>
<p><%= sanitize paragraph.content %></p>