<!-- start related post section -->
<section class="wow fadeIn bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-sm-12 col-xs-12 center-col text-center margin-80px-bottom xs-margin-40px-bottom">
                <div class="position-relative overflow-hidden width-100">
                    <span class="text-small text-outside-line-full alt-font font-weight-600 text-uppercase text-extra-dark-gray">Related Posts</span>
                </div>
            </div>
        </div>
        <div class="row col-4-nth sm-col-2-nth">
            <!-- start post item -->
            <div class="col-md-3 col-sm-6 col-xs-12 last-paragraph-no-margin sm-margin-50px-bottom xs-margin-30px-bottom wow fadeInUp">
                <div class="blog-post blog-post-style1 xs-text-center">
                    <div class="blog-post-images overflow-hidden margin-25px-bottom sm-margin-20px-bottom">
                        <a href="blog-post-layout-01.html">
                            <%= image_tag "pofo/blog-img15.jpg", alt: "" %>
                        </a>
                    </div>
                    <div class="post-details">
                        <span class="post-author text-extra-small text-medium-gray text-uppercase display-block margin-10px-bottom xs-margin-5px-bottom">17 july 2017 | by <a href="blog-masonry.html" class="text-medium-gray">Jay Benjamin</a></span>
                        <a href="blog-post-layout-01.html" class="post-title text-medium text-extra-dark-gray width-90 display-block sm-width-100">I try to look at design from a more conceptual standpoint.</a>
                        <div class="separator-line-horrizontal-full bg-medium-light-gray margin-20px-tb sm-margin-15px-tb"></div>
                        <p class="width-90 xs-width-100">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum text...</p>
                    </div>
                </div>
            </div>
            <!-- end post item -->
            <!-- start post item -->
            <div class="col-md-3 col-sm-6 col-xs-12 last-paragraph-no-margin sm-margin-50px-bottom xs-margin-30px-bottom wow fadeInUp" data-wow-delay="0.2s">
                <div class="blog-post blog-post-style1 xs-text-center">
                    <div class="blog-post-images overflow-hidden margin-25px-bottom sm-margin-20px-bottom">
                        <a href="blog-post-layout-02.html">
                            <%= image_tag "pofo/blog-img16.jpg", alt: "" %>
                        </a>
                    </div>
                    <div class="post-details">
                        <span class="post-author text-extra-small text-medium-gray text-uppercase display-block margin-10px-bottom  xs-margin-5px-bottom">03 July 2017 | by <a href="blog-masonry.html" class="text-medium-gray">Herman Miller</a></span>
                        <a href="blog-post-layout-02.html" class="post-title text-medium text-extra-dark-gray width-90 display-block sm-width-100">Good design accelerates the adoption of new ideas.</a>
                        <div class="separator-line-horrizontal-full bg-medium-light-gray margin-20px-tb sm-margin-15px-tb"></div> 
                        <p class="width-90 xs-width-100">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum text...</p>
                    </div>
                </div>
            </div>
            <!-- end post item -->
            <!-- start post item -->
            <div class="col-md-3 col-sm-6 col-xs-12 last-paragraph-no-margin xs-margin-30px-bottom wow fadeInUp" data-wow-delay="0.4s">
                <div class="blog-post blog-post-style1 xs-text-center">
                    <div class="blog-post-images overflow-hidden margin-25px-bottom sm-margin-20px-bottom">
                        <a href="blog-post-layout-03.html">
                            <%= image_tag "pofo/blog-img17.jpg", alt: "" %>
                        </a>
                    </div>
                    <div class="post-details">
                        <span class="post-author text-extra-small text-medium-gray text-uppercase display-block margin-10px-bottom  xs-margin-5px-bottom">22 June 2017 | by <a href="blog-masonry.html" class="text-medium-gray">Hugh Macleod</a></span>
                        <a href="blog-post-layout-03.html" class="post-title text-medium text-extra-dark-gray width-90 display-block sm-width-100">Design is inherently optimistic. That is its power.</a>
                        <div class="separator-line-horrizontal-full bg-medium-light-gray margin-20px-tb sm-margin-15px-tb"></div>
                        <p class="width-90 xs-width-100">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum text...</p>
                    </div>
                </div>
            </div>
            <!-- end post item -->
            <!-- start post item -->
            <div class="col-md-3 col-sm-6 col-xs-12 last-paragraph-no-margin wow fadeInUp" data-wow-delay="0.6s">
                <div class="blog-post blog-post-style1 xs-text-center">
                    <div class="blog-post-images overflow-hidden margin-25px-bottom sm-margin-20px-bottom">
                        <a href="blog-post-layout-04.html">
                            <%= image_tag "pofo/blog-img18.jpg", alt: "" %>
                        </a>
                    </div>
                    <div class="post-details">
                        <span class="post-author text-extra-small text-medium-gray text-uppercase display-block margin-10px-bottom  xs-margin-5px-bottom">02 June 2017 | by <a href="blog-masonry.html" class="text-medium-gray">Jennifer Freeman</a></span>
                        <a href="blog-post-layout-04.html" class="post-title text-medium text-extra-dark-gray width-90 display-block sm-width-100">I wish someone would ask me to design a cathedral.</a>
                        <div class="separator-line-horrizontal-full bg-medium-light-gray margin-20px-tb sm-margin-15px-tb"></div>
                        <p class="width-90 xs-width-100">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum text...</p>
                    </div>
                </div>
            </div>
            <!-- end post item -->
        </div>
    </div>
</section>
<!-- end related post section -->