<!-- start footer --> 
<!--<footer class="footer-classic-dark bg-extra-dark-gray padding-five-bottom xs-padding-30px-bottom">-->
<footer class="footer-classic-dark bg-dark-footer padding-50px-tb xs-padding-30px-tb">

    <!--<div class="bg-dark-footer padding-50px-tb xs-padding-30px-tb">-->
        <div class="container">
            <div class="row equalize xs-equalize-auto">
                <!-- start social media -->
                <div class="col-md-4 col-sm-5 col-xs-12 col-xs-12 text-center display-table xs-text-center">
                    <div class="display-table-cell vertical-align-middle">
                        <div class="social-icon-style-8 display-inline-block vertical-align-middle">
                            <a href="javascript:void(0);" class="text-dark-gray">Term and Condition</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="javascript:void(0);" class="text-dark-gray">Privacy Policy</a>&nbsp;&nbsp;|&nbsp;&nbsp;<span>RB RIGENERA DI GABRIELE NOEMI P.IVA 15075121002</span>
                        </div>
                    </div>
                </div>
                <!-- end social media -->

                <!-- start logo -->
                <div class="col-md-4 col-sm-2 col-xs-12 text-center display-table xs-margin-10px-bottom">
                    <div class="display-table-cell vertical-align-middle">
                        <%= link_to root_path do %>
                          <%= image_tag "pofo/logo-white.png", class: "footer-logo", 'data-rjs': image_path('pofo/logo-white@2x.png'), alt: "Pofo" %>
                        <% end %>
                        <br/>copyright&COPY; 2019
                    </div>
                </div>
                <!-- end logo -->
                <!-- start social media -->
                <div class="col-md-4 col-sm-5 col-xs-12 col-xs-12 text-center display-table xs-text-center">
                        <span class="alt-font margin-20px-right">On social networks</span>
                        <div class="social-icon-style-8 display-inline-block vertical-align-middle">
                            <ul class="small-icon no-margin-bottom">
                                <li><a class="facebook text-white" href="https://www.facebook.com/rebisworld/" target="_blank"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                                <li><a class="instagram text-white" href="https://instagram.com/rebisworld_the_original/" target="_blank"><i class="fab fa-instagram no-margin-right" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                </div>
                <!-- end social media -->
            </div>
        </div>
    <!--</div>-->
</footer>
<!-- end footer -->


